@model mdoc.ViewModels.ProductTypeViewModel

@{
    ViewData["Title"] = "ExecutiveDocumentation";
}

<h1>Produkt</h1>

<div class="container">
    <div class="row">
        <div class="col">
            @foreach (var prod in Model.Produkty)
            {
                <div class="form-check">
                    <input type="radio" asp-for="Produkty" value="@prod.produkt"/>
                    @prod.produkt
                </div>
            }
        </div>
        <div class="col">
            <form asp-action="ExecutiveDocumentation" enctype="multipart/form-data">
                <partial name="_CheckRadioButton" model=@Model  />
            </form>
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
</div>

